*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */

}
:root{

    --color-1: pink;
    --color-2: black;
    --color-3: red;
    --color-4: #50C878;
    --color-5: ;
    --color-6: ;
    --color-7: ;
}

body{
    background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80");
    /* background-image: url("https://images.unsplash.com/photo-1517856497829-3047e3fffae1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2938&q=80"); */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Satisfy";
    font-size: 2.5rem;
    color: var(--color-2);
    margin: 0;
    padding: 0;
}

.btn{
    background-color: var(--color-3);
    color: var(--color-4);
    border: 1px solid var(--color-4);
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;
}

.title{
    font-size: 4rem;
    font-family: 'Satisfy';
    color: var(--color-4);
    margin-bottom: 1rem;
}

.title-recipe{
    text-align: center;
}

.recipe-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    /* background: transparent; */
    text-align: center;

}

.recipe-search{
    margin: 2rem;
}

.recipe-search cite{
    font-size: 1.5rem;
}

.recipe-search-box{
    color: var(--color-4);
    size: 3rem;
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}

.search-btn, .search-bar{
    width: 90%;
}

.ffa-bowl-food{
    color: rgba(blue, 0, 0,);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
} 
.search-bar{
 
    padding: 0 1rem;
    font-size: 2rem;
    font-family: "Satisfy";
    outline: 0;
    border: 1px solid var(--color-5);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

}

#recipe-div, #recipe-name{
    text-align: center;
}

#recipe-name{
    text-align: center;
}
.search-bar ::placeholder{
    color: var(--color-5);
}
#recipe-name{
    text-align: center;

    font-size: 20px;
    margin-bottom: 10px;
}
#recipe-img{
    text-align: center;
    width: 350px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 12px;
}
.search-btn{
    text-align: center;
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--color-4);
    color: white;
    border:none;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    transition: all 0.4s linear;

}
.search-btn:hover{
    background: var(--color-5);
    color: white;
}

.search-results {
    margin-top: 4rem;
    /* background-color: rgba(243, 243, 243, 0.484); */
    text-align: center;

}
.card-wrapper{
    flex-wrap: wrap;
}
.card{
    text-align: center;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;

}
  .recipe-div{
    cursor: pointer;
  }
  /* The Close Button */
  .close {
    /* color: #aaaaaa; */
    color: black;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #data{
    text-align: center !important;
    align-self: center !important;
    align-items: center !important;
    align-content: center !important;
    background-color: white;
    font-size: 2rem;
    box-shadow: 1px 3px;  
    font-family: "Satisfy";
  }
  

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(124, 245, 203);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  background-size: cover;
  left: 0;
  top: 0;
  border-radius: 10px;
}